body {
	background-color: rgb(200, 200, 200);
}

#news-form, #result {
	background-color: rgb(240, 240, 240);
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

#result-number {
	color: rgb(47, 147, 89);
}